@media only screen and (orientation:portrait) {
    
   body{
    overflow-x: hidden;
   }
    
    .branding{
        width: 30%;
    }
    
    .branding img{
        height: 12dvh;
    }
    
    .nav{
        display: none;
    }
    
    #hamburger-icon {
        display: block;
    }

    main{
        display: block;
        width: 100%;
        padding: 10px;
    }
    
    #home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100dvh;
    }

    @keyframes animate {

    0%{
        transform: translateY(-113vh) rotate(720deg);
        opacity: 1;
        border-radius: 0;
    }

    

    100%{
        transform: translateY(0) rotate(0deg);
        opacity: 0;
        border-radius: 50%;
    }

}
    
    .context {
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #home h1{
        width: 80%;
        padding: 0.5dvw;
        font-size: 10dvw;
        font-weight: 700;
        margin-bottom: 2.1dvh;
        animation: bounceIn 2s;
        text-align: center;
    }
    
    #home h2{
        width: 80%;
        padding: 0.5dvw;
        font-size: 4dvw;
        font-weight: 500;
        animation: bounceIn 2s 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        text-align: center;
    }
    
    @keyframes bounceIn {
        0% {
          transform: scale(0.1);
          opacity: 0;
        }
        40% {
          transform: scale(1.2);
          opacity: 1;
        }
        100% {
          transform: scale(1);
        opacity: 1;
        }
      }
    
      #about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100dvh;
    }

    #about .section-header{
        height: 25dvh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5dvh;
    }
    
    #about h1, #projects h1, #contact h1{
        font-size: 17dvw;
        font-weight: 600;
        color: limegreen;
        text-align: center;
    }
    
    
    #about .section-info{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 65dvh;
        padding: 0;
    }

    #about img{
        display: none;
    }

    .info-text{
        width: 100%;
        height: 55dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    
    #about p{
        font-size: 2.3dvh;
        font-weight: 500;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -10dvw;
        padding: 0 5dvw;
    }
    
    .section-info .cvs{
        width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }

    #about i{
        font-size: 12vh;
    }

    .section-info .cvs a{
        text-decoration: none;
        color: limegreen;
        font-size: 2.5dvh;
        border: 0.3dvw solid limegreen;
        padding: 1.3dvh;
        height: 20dvh;
        width: 20dvh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .cvs a:hover{
        color: white;
        border: 0.3dvw solid red;
    }
    
    .cvs a.eng:hover{
        color: red;
        border: 0.3dvw solid white;
    }



    #projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100dvh;
    }

    #projects .section-header{
        height: 25dvh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #projects .section-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 65dvh;
        margin-top: -6dvh;
    }

    #projects p{
        font-size: 4.5dvh;
        font-weight: 500;
        width: 90%;
        text-align: center;
        margin-bottom: 3dvh;
    }

    #projects a{
        font-size: 8dvh;
        text-decoration: none;
        color: rgb(212, 212, 212);
        border: 5px solid rgb(212, 212, 212);
        padding: 2dvh;
    }

    #projects a:hover{
        border: 0.6vw solid limegreen;
        color:limegreen;
        background-color: #000000;
    }

    #contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80dvh;
    }

    #contact .section-info{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 60dvh;
    }

    #contact .section-info{
        display: flex;
        flex-wrap: wrap;
    }

    #contact a{
        color: limegreen;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        border: 0.3dvw solid limegreen;
        width: 45dvw;
        height: 45dvw;
        font-size: 6dvw;
        font-weight: 600;
        padding: 0;
    }

    #contact .mail{
        font-size: 3.4dvw;
    }

    #contact .phone{
        font-size: 4.6dvw;
    }

    #contact i{
        font-size: 16dvw;
    }

    #contact .fb:hover{
        color: white;
        border-color:white;
        background-color: #4267B2;
    }

    #contact .ln:hover{
        color: white;
        border-color:white;
        background-color: #0077B5;
    }

    #contact .em:hover{
        color: #ff4343;
        border-color:#ff4343;
        background-color: #ece9e9;
    }

    #contact .ph:hover{
        color: white;
        border-color:white;
        background-color: rgb(38, 155, 38);
    }

    footer{
        width: 100%;
        height: 5dvh;
        background-color: #000000;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 2dvh;
    }

}